<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<ul class="social-icons">
  <li>
    <%=  link_to  "<i class='social-btn float fa fa-twitter fa-3x' aria-hidden='true'></i>".html_safe, "http://twitter.com/trujared", target: :_blank %>
  </li>
</ul>
