// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fa-twitter {
  color: #1890F6;
}

.float {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.float:hover {
  -webkit-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

.social-icons {
  list-style: none;
}
